/*历史布局方案*/ 

$black: #191918;
$grey: #888786;
$dark-grey: #636261;
$light-grey:#ebeae9;


* {
    margin: 0;
    padding: 0;
}


.player {
    width: 100vw;
    height: 100vh;
    background-color: $light-grey;
    .songTop {
        padding-top: 20px;
        h2 {
            font-weight: normal;
            font-size: 18px;
            color: $black;
            text-align: center;
        }
        p {
            font-size: 16px;
            color: $grey;
            text-align: center;
            padding-top: 10px;
        }
    }
    .songMain {
        height: 65vh;
        /*height: calc(100vh - 260px);*/
        .cover {
            margin: 0 auto;
            width: 90vw;
            height: 90vw;
            display: flex; 
            justify-content: center; 
            align-items: center;
            .square {
                width: 90%;
                height: 90%;
                border-radius: 5px;
                overflow: hidden;
                box-shadow: 0px 0px 300px 0px rgba(212,212,212,1);  
                img {
                    width: 100%;
                    height: 100%;
                }
            }
            
        }
        .mini-lyric {
            p {
                text-align: center;
                font-size: 14px;
                color: $grey;
                margin: 0.5em 0;
                /*margin: 8px 0;*/
                &.current {
                    color: $black;
                }
            }
        }
    }
    .songBottom {
        .option {
            display: flex; 
            justify-content: center; 
            align-items: center;
            svg {
                width: 24px;
                height: 24px;
                margin-right: 18%;
                /*
                margin-right: 80px;
                */
                fill: $dark-grey;
                &:nth-child(4) {
                    margin-right: 0;
                    
                }
            }
        }
        .bar-area {
            padding: 30px 0 25px;
            width: 90vw;
            margin: 0 auto;
            .bar {
                height: 2px;
                background-color: $grey;
                margin: 0 5px;
                .progress {
                    width: 50%;
                    height: 100%;
                    position: relative;
                    background-color: $black;
                    &::after {
                        content: '';
                        display: block;
                        position: absolute;
                        top: -4px;
                        right: -5px;
                        width: 10px;
                        height: 10px;
                        border-radius: 50%;
                        background-color: $black;
                    }
                }
            }
            .time {
                padding-top: 16px;
                font-size: 12px;
                .time-start {
                    float: left;
                }
                .time-end {
                    float: right;
                }
            }
        }
        .actions {
            display: flex;
            justify-content: center;
            align-items: center;
            svg {
                width: 24px;
                height: 24px;
                &:first-child {
                    margin-right: 45px;
                }
                &:last-child {
                    margin-left: 45px;
                }

                &:nth-child(even) {
                    width: 28px;
                    height: 28px;
                }
                &:nth-child(3) {
                    width: 46px;
                    height: 46px;
                    margin: 0 50px;
                }
            }

        }
    }
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}