$black: #191918;
$grey: #888786;
$dark-grey: #636261;
$light-grey:#ebeae9;
$default-size: 18px;
$mini-size: 16px;
$author-size: 14px;
$lyrics-margin: 1.4em 0;
$playlist-padding: 0.8em 1.2em;

* {
    margin: 0;
    padding: 0;
}
.clearfix::after {
    content: '';
    display: block;
    clear: both;
}
svg {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

#player {
    width: 100vw;
    height: 100vh;
    background-color: $light-grey;
    overflow: hidden;
    font-size: $default-size;
    .songTop {
        padding-top: 20px;
        padding-bottom: 3%;
        h2 {
            font-weight: normal;
            font-size: 1.2em;
            color: $black;
            text-align: center;
        }
        p {
            font-size: $author-size;
            color: $grey;
            text-align: center;
            padding-top: 10px;
        }
    }
    .songMain {
        overflow: hidden;
        width: 200vw;
        height: calc(100vh - 250px);
        max-height: 70vh;
        transition: transform 0.3s;
        display: flex;
        align-items: flex-start;
        .panel-effect {
            width: 100vw;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            .cover {
                width: 100vw;
                height: 76vw;
                display: flex; 
                justify-content: center;
                .square {
                    width: 76vw;
                    height: 76vw;
                    border-radius: 5px;
                    overflow: hidden;
                    box-shadow: 0px 20px 40px 0px rgba(212,212,212,0.7);
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
                
            }
            .mini-lyric {
                height: 4em;
                padding-top: 1.6em;
                p {
                    padding-left: 2em;
                    padding-right: 2em;
                    text-align: center;
                    font-size: $mini-size;
                    color: $grey;
                    margin: 1em 0;
                    &.current {
                        color: #000;
                    }
                }
            }
        }
        .panel-lyrics {
            width: 100vw;
            height: 100%;
            box-shadow: 0px 0px 30px 20px #ebeae9 inset;
            position: relative;
            .shadow {
                position: absolute;
                top: 0;
                left: 0;
                width: 100vw;
                height: 100%;
                box-shadow: 0px 0px 30px 20px #ebeae9;
                &::after {
                    display: block;
                    width: 100%;
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    box-shadow: 0px 0px 30px 50px #ebeae9;
                }
                &::before{
                    display: block;
                    width: 100%;
                    content: '';
                    position: absolute;
                    bottom: -1px;
                    left: 0;
                    box-shadow: 0px 0px 30px 50px #ebeae9;
                }
            }
            .container {
                transition: all 1s;
                p {
                    padding-left: 2em;
                    padding-right: 2em;
                    text-align: center;
                    font-size: $mini-size;
                    color: $grey;
                    margin: $lyrics-margin;
                    &.current {
                        color: #000;
                    } 
                }
            }
        }
    }
    .songMain.active {
        transform: translateX(-100vw);
    }
    .songBottom {
        .option {
            display: flex; 
            justify-content: center; 
            align-items: center;
            svg {
                width: 24px;
                height: 24px;
                margin-right: 18%;
                fill: $dark-grey;
                &:nth-child(4) {
                    margin-right: 0;
                    
                }
            }
        }
        .bar-area {
            padding: 6% 0 4%;
            width: 90vw;
            margin: 0 auto;
            .bar {
                height: 2px;
                background-color: $grey;
                margin: 0 5px;
                .progress {
                    width: 0;
                    height: 100%;
                    position: relative;
                    background-color: $black;
                    &::after {
                        content: '';
                        display: block;
                        position: absolute;
                        top: -4px;
                        right: -5px;
                        width: 10px;
                        height: 10px;
                        border-radius: 50%;
                        background-color: $black;
                    }
                }
            }
            .time {
                padding-top: 16px;
                font-size: 12px;
                .time-start {
                    float: left;
                }
                .time-end {
                    float: right;
                }
            }
        }
        .actions {
            display: flex;
            justify-content: center;
            align-items: center;
            svg {
                width: 24px;
                height: 24px;
                &:first-child {
                    width: 20px;
                    height: 20px;
                    margin-right: 10%;
                }
                &:last-child {
                    margin-left: 10%;
                }

                &:nth-child(even) {
                    width: 28px;
                    height: 28px;
                }
                &:nth-child(3) {
                    width: 46px;
                    height: 46px;
                    margin: 0 12%;
                }
            }

        }
    }
    .playlist {
        width: 100%;
        height: 0;
        position: fixed;
        bottom: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.3);
        &.active {
            width: 100%;
            height: 100%;
        }
        ul {
            transition: all .4s;
            width: 100%;
            overflow-y: auto;
            padding: 0.8em 0;
            position: absolute;
            bottom: 0;
            left: 0;
            transform: translateY(100%);
            border-top-right-radius: 10px;
            border-top-left-radius: 10px;
            background-color: #fff;
            &.active {
                transform: translateY(0);
            }
            &::before {
                content: '𝌆 播放列表';
                display: block;
                padding: $playlist-padding;
                font-weight: bold;
            }
            li {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: $playlist-padding;
                .playli-name {
                    font-size: $mini-size;
                    font-weight: normal;
                    .playli-author {
                        font-size: 14px;
                        color: $grey;
                    }
                }
                &.active {
                    color: #e97291;
                }
            }
        }
    }
}

@media (max-width: 320px) {
    .mini-lyric {
        p:last-child {
            display: none;
        }        
    }
}

.QRcode {
    display: none;
}